html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
:root {
    color-scheme: light;
    --primarycolor1: #00ffb3;
    --primarycolor2:#074027;
    --liquid-glass: rgba(255, 255, 255, 0.2);
    --border-radius: 45px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --font-logo: AbodeFontBold;
    --secondarycolor1: #00FF62;
    --secondarycolor2: #010F12;
    --textcolor:#DAF1DE;
    --border: rgba(255, 255, 255, 0.3);
}
:root.dark{
    color-scheme: dark;
    --primarycolor1: #84182D;
    --primarycolor2: #181A2F;
    --secondarycolor1: #5D729D;
    --secondarycolor2: #EDEBD6;
    --textcolor: #FDA481;
    --liquid-glass: rgba(0, 0, 0, 0.2);
    --border: rgba(0, 0, 0, 0.3);
}
@font-face {
    font-family: 'AbodeFont'; /* This is the name you'll use in your CSS */
    src:  url('./fonts/abode-webfont/Abode-Light.woff') format('woff');/* Best for web */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbodeFontBold';
    src: url('./fonts/abode-webfont/abode.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
    background: linear-gradient(135deg, var(--primarycolor2) 0%, var(--primarycolor1) 100%);
    background-repeat: no-repeat;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    
    align-items: center;
    display: flex;
}
.navbar {
    flex-direction: column;
    width: 600px;
    max-width: calc(100% - 40px);
    box-sizing: border-box;
    background-color: var(--liquid-glass);
    border: 1px solid var(--border);
    padding: 1rem 2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
    margin-top: 50px;
}
.navbar a{
    text-decoration: none;
    color: var(--textcolor);
    position: relative;
    font-size: 2rem;
    font-family: var(--font-logo);
    font-weight: bold;
}
.navbar a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  right: 50%;
  height: 2px;
  background: currentColor;
  transition: left 0.6s ease, right 0.6s ease;
}
.navbar a:hover::after {
  left: 0;
  right: 0;
}
.location-id{
    background-color: var(--liquid-glass);
    border: 1px solid var(--border);
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    color:var(--textcolor);
    font-family: AbodeFont;
}
.fa-sun{
    color: var(--textcolor);
}
.weather-container {
    width: 800px;
    max-width: calc(100% - 40px);
    box-sizing: border-box;
    background-color: var(--liquid-glass);
    border: 1px solid var(--border);
    padding: 2rem;
    display: grid;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 20px;
    backdrop-filter: blur(10px);
}
.search-container {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
#city-input {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--liquid-glass);
    border: 1px solid var(--border);
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
#city-input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}
#search-btn {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--liquid-glass);
    border: 1px solid var(--border);
    color: var(--textcolor);
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
#search-btn:hover {
    background-color: var(--border);
    transform: scale(1.05);
}
.weather-icon {
    font-size: 2rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'AbodeFontBold';
    color: var(--textcolor);
}
.weather-result {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 0 20px;
}
.weather-row{
    display: flex;
    align-items: center;
    gap: 10px;
    /* box-shadow: var(--box-shadow); */
    color: var(--textcolor);
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .weather-container{
        display: grid;
        grid-template-columns:1fr;
        width: auto;
    }
    .navbar{
        width: auto;
        gap: 20px;
    }
}
@media (max-width:480px){
    .weather-result{
        grid-template-columns: 1fr;
        display: block;
    }
    .navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
}